@media(max-width: 1075px){
    .about__dot--1{
        top: 166px;
        left: 75px;
    }
    .about__dot--2{
        top: 188px;
        left: 340px;
    }
    .about__dot--3{
        top: 133px;
        right: 260px;
    }
    .about__dot--4{
        bottom:  28px;
        right: 200px;
    }
    .footer__item--company{
        width: 140px;
        padding-left: 0;
    }
}


@media(max-width: 840px){
    .about__item{
        padding: 382px 0 70px;
        background-position: top;
        margin-bottom: 0;
    }
    .about__box{
        margin: 0 auto;
    }
    .about__item:nth-child(even){
        background-position: top;
    }
    .about__dot{
        display: none;
    }
    .about__images-box{
        padding-top: 0;
    }
    .footer__items{
        flex-wrap: wrap;
    }
    .footer__item{
        width: 50%;
        margin-bottom: 35px;
        padding-right: 25px;
    }
}



@media(max-width: 700px){
    .header__title{
        font-size: 120px;
        line-height: 150px;
    }
    .header__text{
        font-size: 20px;
    }
    .menu{
        position: relative;
    }
    .menu__btn{
        display: block;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 10px;
    }
    .menu__btn span{
        display: block;
        margin-bottom: 10px;
        background-color: #ffd600;
        height: 4px;
    }
    .menu__list{
        display: none;
        padding-top: 60px;
        text-align: center;
        border-bottom: 4px solid #ecb84c;
        transition: all 0s;
    }
    .menu__list-link{
        transition: all 0s;
        display: block;
        border-top: 4px solid #ecb84c;
    }
    .menu__list-link:hover{
        border-bottom: 4px solid transparent;
    }
    .slick-next{
        right: 20px;
    }
    .slick-prev{
        left: 20px;
    }
}
@media (max-width: 540px){
    .header__text{
        display: none;
    }
    .header__top-inner{
        border: 2px solid #ecb84c;;
    }
    .header__top{
        padding: 10px;
    }
    .header__title{
        font-size: 100px;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
    }
    body{
        font-size: 15px;
        line-height: 24px;
    }
    .reason__statistics{
        display: block;
    }
    .reason__statistics-item{
        margin-bottom: 35px;
    }
}
@media (max-width: 470px){
    .footer__item{
        display: block;
    }
    .footer__items{
        width: 100%;
        padding-right: 0;
    }
}


@media (min-width: 700px){
    .menu__list{
        display: flex !important;
    }
}